:root {
  --background-main-color: rgba(236, 240, 241, 1);
  --font-main-color: rgba(127, 140, 141, 1);

  --light-cyan: rgba(26, 188, 156, 1);
  --dark-cyan: rgba(22, 160, 133, 1);

  --light-yellow: rgba(241, 196, 15, 1);
  --dark-yellow: rgba(243, 156, 18, 1);

  --light-side-color: #fff;
  --dark-side-color: #b8b9be;
  --shadow-in-sm: inset 2px 2px 4px var(--light-side-color), inset 2px 2px 4px;
}

* {
  box-sizing: border-box;
}

.frame {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}
