:root {
  --background-main-color: rgba(236, 240, 241, 1);
  --font-main-color: rgba(127, 140, 141, 1);

  --light-cyan: rgba(26, 188, 156, 1);
  --dark-cyan: rgba(22, 160, 133, 1);

  --light-yellow: rgba(241, 196, 15, 1);
  --dark-yellow: rgba(243, 156, 18, 1);

  --light-side-color: #fff;
  --dark-side-color: #b8b9be;
  --shadow-in-sm: inset 2px 2px 4px var(--light-side-color),
    inset 2px 2px 4px var(--dark-side-color);
  --shadow-out-sm: -4px -4px 4px var(--light-side-color),
    4px 4px 4px var(--dark-side-color);
}

* {
  box-sizing: border-box;
  background-color: var(--background-main-color);
  color: var(--font-main-color);
}

a {
  text-decoration: none;
}

/*	#region	shadow	*/
.blog_section_main {
  border-radius: 10px;
  box-shadow: var(--shadow-out-sm);
}
/*	#endregion	*/
/*	#region	frame	*/
.frame {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

/*	#endregion	*/

/*	#region	header	*/
.header_main {
  position: fixed;
  z-index: 999;
  width: 100vw;
  // height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 10px;

  box-shadow: 5px 0px 5px var(--dark-side-color);

  .icon_main {
    height: 50px;
    img {
      height: 100%;
    }
  }
  // background-color: #000;

  /*	#region	Navbar	*/
  .navbar_main {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    .navbar_item {
      display: inline-block;
      padding: 5px 10px;
      font-size: 30px;
      line-height: 40px;

      margin-right: 20px;
    }
  }
  /*	#endregion	*/
}
/*	#endregion	*/

/*	#region	content	*/
.content_main {
  margin-top: 72px;
  height: 100vh;

  .content_content_main {
    padding: 10px 30px;
    width: 800px;
    max-width: 800px;
    overflow: hidden;

    box-shadow: inset 4px 0 4px var(--dark-side-color),
      inset -4px 0 4px var(--light-side-color);

    // border: solid 1px var(--font-main-color);
    border-top: none;
    border-bottom: none;
  }

  .side-bar_main {
    padding: 10px;
  }
  display: flex;
  flex-direction: row;
}

/*	#endregion	*/

/*	#region	home	*/

.home_main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: auto;

  .blog_section_main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
    width: 800px;
    height: 300px;
    overflow: hidden;

    padding: 20px;

    .blog_section_img {
      width: 200px;
      height: 100%;
      border-radius: 10px;
      img {
        height: 100%;
        margin: 0;
        padding: 0;
        box-shadow: none;
      }
    }

    .blog_section_content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 0 20px;

      a {
        margin: 0;
        line-height: 20px;
        font-size: 20px;
      }

      p {
        overflow: hidden;
      }
    }

    .blog_section_details {
      display: flex;
      justify-items: center;
      justify-content: space-between;
      span {
        svg {
          height: 20px;
          margin-right: 0.5rem;
        }
      }
      a {
        float: right;
        line-height: 20px;
        font-size: 20px;
        svg {
          height: 20px;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

/*	#endregion	*/

/*	#region	blog-page	*/
.blog-page_main {
  padding: 0;

  * {
    margin: 1rem auto;
  }

  .blog-page_title {
    font-size: 2rem;
    text-align: center;
  }

  .blog-page_tags {
    margin: 0;
    margin-bottom: 0.5rem;
    text-align: center;

    span {
      margin-right: 0.5rem;
      font-size: 0.7rem;
      padding: 0.35rem 0.65rem;
      border-radius: 1rem;
      border: var(--border);

      box-shadow: var(--shadow-in-sm);
    }
  }

  .blog-page_details {
    margin: 0;
    text-align: center;
    font-size: 0.5rem;

    span {
      margin-right: 1rem;
    }
  }

  .blog-page_content {
    box-shadow: var(--shadow-out-md);
    padding: 0.5rem 1rem;
  }

  .blog-page_shares {
    font-size: 1.5rem;
    line-height: 2rem;
    * {
      margin: 0;
    }

    .share_main {
      display: inline-block;
      height: 2.1rem;
      width: 2.1rem;
      border: var(--border);
      border-radius: 50%;
      margin-right: 0.7rem;
      padding: 0.3rem;
      text-align: center;
      box-shadow: var(--shadow-out-sm);

      .share_icon {
        z-index: -1;
        display: block;
        // height: 1.5rem;
        font-size: 1.5rem;
        // width: 1.5rem;
        border-radius: inherit;
      }

      &:hover {
        box-shadow: var(--shadow-in-sm);
        .share_icon {
          font-size: 1.4rem;
        }
      }
    }
  }
}
/*	#endregion	*/

/*	#region	footer	*/
.footer_main {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
/*	#endregion	*/
